# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# macOS system files
.DS_Store

# Build artifacts
artifacts/
*.bin
*.parquet

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# VSCode
.vscode/
